<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="home" class="navbar-link">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="stats" class="navbar-link">My Stats</a></li>
            <li ui-sref-active="active"><a href="https://benjaminschubert.github.io/git-punch/" class="navbar-link">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/auth/login" class="navbar-link" ng-if="!loggedIn">Sign in with GitHub</a></li>
            <li><p class="navbar-text" ng-if="loggedIn">Logged in as {{ username || "???" }}</p></li>
            <li><a href="/auth/logout" class="navbar-link" ng-if="loggedIn">Logout</a></li>
        </ul>
    </div>
</nav>
